@use "./colors" as colors;

// Display sizes
$mobile-width: 375px;
$desktop-width: 1440px;

@mixin cardSize {
  max-width: 400px;
  background-color: colors.$dark-blue;
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
